# Ignore Python bytecode files
*.pyc

# Ignore Django's migration files
**/migrations/

# Ignore environment-specific settings files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore SQLite database file
*.sqlite3

# Ignore local development settings
local_settings.py

# Ignore virtual environment
venv/
