[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
psycopg2-binary = "*"
pyjwt = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
pillow = "*"
cloudinary = "*"
requests = "*"

[dev-packages]
pytest-mock = "*"
pytest-django = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"

[requires]
python_version = "3.9"
