<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
  </head>

  <body style="
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background: #ffffff;
        font-size: 14px;
      ">
    <div style="
          max-width: 680px;
          margin: 0 auto;
          padding: 45px 30px 60px;
          background: #f4f7ff;
          background-image: url(https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661497957196_595865/email-template-background-banner);
          background-repeat: no-repeat;
          background-size: 800px 452px;
          background-position: top center;
          font-size: 14px;
          color: #434343;
        ">

      <header>
        <table style="width: 100%;">
          <tbody>
            <tr style="height: 0;">
              <td style="display: flex; align-items: center;">
                <svg width="90" height="60" viewBox="-14 -5 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_57653_882" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="29" height="13">
                    <path d="M0 0H28.4937V12.528H0V0Z" fill="white" />
                  </mask>
                  <g mask="url(#mask0_57653_882)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2204 12.5155L28.4401 0.000976562L14.2204 8.68478L0 0.000976562L14.2204 12.5155Z" fill="#1478A4" />
                  </g>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2211 3.52659L23.7176 0.462891L14.2211 6.37695L4.72107 0.462891L14.2211 3.52659Z" fill="#1478A4" />
                  <mask id="mask1_57653_882" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="2" y="4" width="24" height="16">
                    <path d="M2.42749 4.67383H25.9895V20.0002H2.42749V4.67383Z" fill="white" />
                  </mask>
                  <g mask="url(#mask1_57653_882)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2178 14.9244L2.57446 4.72021L14.2178 20.0016L25.8604 4.72021L14.2178 14.9244Z" fill="#1478A4" />
                  </g>
                </svg>
                <p style="color: white; font-weight: bold; font-size: 2em; margin-left: 5px;">PEN2TEXT</p>
              </td>
              <td style="text-align: right;">
                <span style="font-size: 16px; line-height: 30px; color: #ffffff;">{{date}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </header>

      <main>
        <div style="
              margin: 0;
              margin-top: 70px;
              padding: 92px 30px 115px;
              background: #ffffff;
              border-radius: 30px;
            ">
          <div style="width: 100%; margin: 0;">
            <h1 style="
                  margin: 0;
                  font-size: 24px;
                  font-weight: 500;
                  color: #1f1f1f;
                  text-align: center;
                ">
              {{messageType}}
            </h1>
            <p style="
                  margin: 0;
                  margin-top: 17px;
                  font-size: 16px;
                  font-weight: 500;
                ">
              Dear {{name}},
            </p>
            <div style="
                  margin: 0;
                  margin-top: 17px;
                  font-weight: 500;
                  letter-spacing: 0.56px;
                ">
                  {{body}}
          </div>
            <p style="
                  margin: 0;
                  margin-top: 60px;
                  font-size: 30px;
                  font-weight: 600;
                  color: #ba3d4f;
                  text-align: center;
                ">
              <a href={{link}}>{{button_text}}</a>
            </p>
          </div>
        </div>
      </main>

      <footer style="
            width: 100%;
            max-width: 490px;
            margin: 10px auto 0;
            text-align: center;
            border-top: 1px solid #e6ebf1;
          ">
        <p style="
              margin: 0;
              margin-top: 40px;
              font-size: 16px;
              font-weight: 600;
              color: #434343;
            ">
          PEN2TEXT
        </p>
        <p style="margin: 0; margin-top: 8px; color: #434343;">
          Addis Ababa, Ethiopia
        </p>
        <div style="margin: 0; margin-top: 16px;">
          <a href="" target="_blank" style="display: inline-block;">
            <img width="36px" alt="Facebook" src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661502815169_682499/email-template-icon-facebook" />
          </a>
          <a href="" target="_blank" style="display: inline-block; margin-left: 8px;">
            <img width="36px" alt="Instagram" src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661504218208_684135/email-template-icon-instagram" />
          </a>
          <a href="" target="_blank" style="display: inline-block; margin-left: 8px;">
            <img width="36px" alt="Twitter" src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661503043040_372004/email-template-icon-twitter" />
          </a>
          <a href="" target="_blank" style="display: inline-block; margin-left: 8px;">
            <img width="36px" alt="Youtube" src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661503195931_210869/email-template-icon-youtube" />
          </a>
        </div>
        <p style="margin: 0; margin-top: 16px; color: #434343;">
          Copyright u00a9 {{year}} Pen2Text. All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>
